.body-contact{
    width: 100%;
    align-items: center;
    justify-content: center;
padding-top:10%;

}
 h1 {
    font-size:30px;
    padding-left: 30px;
background-color: blue;
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
.header-contact-form {
text-align: center;  
line-height: 3;
  font-size:20px;
  font-weight: 600;

}
.contact-details{

}

.list-contact{
line-height: 2;
  font-size:22px;
  font-weight: 600;

}

.form-contact{
   padding-top: 3%;
    width: 100%;
    height: 100%;
    line-height: 3;
display: flex;
justify-content: center;
align-items: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
        line-height: 3;
        font-size: 22px;
        font-weight: 500;
        width: 100%;
        	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.send-mase{
    width: 100%;
      /* max-width:150px; */
  /* display: flex; */
  margin: 20px 0 6px 160px;
  border-radius: 10px ;
  color: red;
  font-size: 22px;
}
.send-mase:hover{
      font-size:24px ;
   background-color: whitesmoke;
      -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}



@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
